<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
  <resultMap type="board" id="boardMap">
  		<id property="boardNo" column="BOARD_NO"></id>
  		<result property="boardTitle" column="BOARD_TITLE"/>
  		<result property="boardWriter" column="BOARD_WRITER"/>
  		<result property="boardContent" column="BOARD_CONTENT"/>
  		<result property="boardOriginalFilename" column="BOARD_ORIGINAL_FILENAME"/>
  		<result property="boardRenamedFilename" column="BOARD_RENAMED_FILENAME"/>
  		<result property="boardDate" column="BOARD_DATE"/>
  		<result property="boardReadcount" column="BOARD_READCOUNT"/>
  		
  		<!-- collection -->
  		<!-- <collection property="boardComments" resultMap="boardCommentMap"/> -->
  		<collection property="boardComments" ofType="boardComment">
  			<id property="boardCommentNo" column="BOARD_COMMENT_NO"/>
	  		<result property="boardCommentLevel" column="BOARD_COMMENT_LEVEL"/>
	  		<result property="boardCommentWriter" column="BOARD_COMMENT_WRITER"/>
	  		<result property="boardCommentContent" column="BOARD_COMMENT_CONTENT"/>
	  		<result property="boardRef" column="BOARD_REF"/>
	  		<result property="boardCommentRef" column="BOARD_COMMENT_REF"/>
	  		<result property="boardCommentDate" column="BOARD_COMMENT_DATE"/>
  		</collection>
  </resultMap>
  
<!--   <resultMap type="boardComment" id="boardCommentMap">
  		<id property="boardCommentNo" column="BOARD_COMMENT_NO"/>
  		<result property="boardCommentLevel" column="BOARD_COMMENT_LEVEL"/>
  		<result property="boardCommentWriter" column="BOARD_COMMENT_WRITER"/>
  		<result property="boardCommentContent" column="BOARD_COMMENT_CONTENT"/>
  		<result property="boardRef" column="BOARD_REF"/>
  		<result property="boardCommentRef" column="BOARD_COMMENT_REF"/>
  		<result property="boardCommentDate" column="BOARD_COMMENT_DATE"/>
  </resultMap> -->
  
  <select id="selectBoard" parameterType="_int" resultMap="boardMap">
  		SELECT * FROM(
		SELECT * FROM BOARD JOIN BOARD_COMMENT ON BOARD_NO = BOARD_REF WHERE BOARD_NO = #{boardNo})
		START WITH BOARD_COMMENT_LEVEL = 1 
		CONNECT BY PRIOR BOARD_COMMENT_NO = BOARD_COMMENT_REF
  </select>
  
  <!-- 이건 HelloMVC용으로 만든거임, 참고할 것 -->
  <resultMap type="member" id="memberMap">
  		<result property="hobby" column="hobby" typeHandler="com.mybatis.common.StringArrayTypeHandler"/>
  </resultMap>
  
  <insert id="insertMember" >
  		INSERT INTO MEMBER VALUES (
  		~~~~ ~~~~
  		#{hobby, typeHandler=com.mybatis.common.StringArrayTypeHandler})
  </insert>
</mapper>
